<html>
<head>
	<link rel="stylesheet" href="style/main.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./style/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="./style/bootstrap-theme.min.css">

	<link rel="stylesheet" href="style/custom.css">

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script data-main="js/app.js" src="js/lib/require.js"></script>
	<script>
	require.config({
		urlArgs: "bust=" +  (new Date()).getTime()
	});
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<a href="#" class="navbar-brand">TopJoke</a>

			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li id="signIn_SignOut"><a href="#">Sign in</a></li>
					<li id="createAccount"><a href="#">Create account</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="joke-list">
		
	</div>

	<script id="joke_template" type="text/template" >
		<div class="list-group miguels-customization">
			<a href="#" class="list-group-item disabled jokeTitle">
				<%= title %>
			</a>
			<a href="#" class="list-group-item"><%= joke %></a>
			<a href="#" class="list-group-item"><%= jokeAuthor %></a>
		</div>
	</script>

	<script id="aboutPage" type="text/template" >
		<%= aboutPageText %>
	</script>



	<!-- Latest compiled and minified JavaScript -->
	<script src="js/lib/bootstrap.min.js"></script>
</body>
</html>

<!-- http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css/1987545#1987545 -->