<html>
<head>
	<link rel="stylesheet" href="style/main.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./style/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="./style/bootstrap-theme.min.css">

	<link rel="stylesheet" href="style/custom.css">

	<link href="style/signin.css" rel="stylesheet">
	<link href="style/signup.css" rel="stylesheet">

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script data-main="js/app.js" src="js/lib/require.js"></script>
	<script>
	require.config({
		urlArgs: "bust=" +  (new Date()).getTime()
	});
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<a href="#" class="navbar-brand home">TopJoke</a>

			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right miguels-custom-navbar-right">
					
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<a class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</a>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>

		</div>
	</div>

	<div class="joke-list">

	</div>

	<script id="joke_template" type="text/template" >
		<div class="panel panel-default miguels-customization">
			<div class="panel-heading">
				<h3 class="panel-title"><%= title %></h3>
			</div>
			<div class="panel-body">
				<%= joke %>
			</div>
			<div class="panel-footer">
				<%= jokeAuthor %>
			</div>
		</div>
	</script>

	<script id="aboutPage" type="text/template">
		<%= aboutPageText %>
	</script>

	<script id="login_template" type="text/template">
	micke.person@aftonbladet.se nej422Jo
		<form class="form-signin" role="form" action="js:app.signIn();">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="email" id="login_email_input" class="form-control" placeholder="Email address" required autofocus>
			<input type="password" id="login_password_input" class="form-control" placeholder="Password" required>
			<div class="checkbox">
				<label>
				<input id="remember-me" type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button id="sing_in_button" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</script>

	<script id="alert_login_failed_template" type="text/template">
		<div class="alert alert-danger alert-dismissible login-failed-miguels-custom-css" role="alert">
  			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  			<strong>Sign in failed!</strong> Password or email was not correct.
		</div>
	</script>

	<script id="signup_template" type="text/template">
		<form class="form-signup" role="form">
			<h2 class="form-signup-heading">Create account</h2>

			<ul class="list-group">
				<input type="text" class="list-group-item" placeholder="Text input">
				<input type="text" class="list-group-item" placeholder="Text input">
				<input type="text" class="list-group-item" placeholder="Text input">
				<input type="text" class="list-group-item" placeholder="Text input">
				<input type="text" class="list-group-item" placeholder="Text input">
			</ul>

			<input type="text" class="list-group-item" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">
			<input type="text" class="form-control" placeholder="Text input">


			<input type="username" id="signup_username_input" class="form-control" placeholder="User name" required autofocus>
			<input type="email" id="signup_email_input" class="form-control" placeholder="Email address" required>
			<input type="password" id="signup_password_input" class="form-control" placeholder="Password" required>
			<input type="password" id="signup_retype_password_input" class="form-control" placeholder="Repeat password" required>
			<input type="text" id="signup_first_name_input" class="form-control" placeholder="First name" required>
			<input type="text" id="signup_surname_input" class="form-control" placeholder="Surname" required>
			<button id="sing_up_button" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
		</form>
		<!-- http://bootstrapvalidator.com/getting-started/ -->
	</script>

	<script id="navbar_right_when_NOT_loged_in" type="text/template">
		<li class="home"><a href="#">Home</a></li>
		<li class="about"><a href="#">About</a></li>
		<li class="signIn"><a href="#" >Sign in</a></li>
		<li class="signUp"><a href="#">Create account</a></li>
	</script>

	<script id="navbar_right_when_loged_in" type="text/template">
		<li class="home"><a href="#">Home</a></li>
		<li class="about"><a href="#">About</a></li>
		<li class="groups"><a href="#">Groups</a></li>
		<li class="signOut"><a href="#">Sign out</a></li>
	</script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="js/lib/bootstrap.min.js"></script>
</body>
</html>

<!-- http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css/1987545#1987545 -->
<!--   -->