span.stars_ME, span.stars_ME span {
    display: block;
    background: url(../Graphics/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars_ME span {
    background-position: 0 0;
}

.stars_ME {
	position: relative;
}

.starRating_ME {
	z-index: -1;
}

.highlightedStar_container_ME {
	height: 16px;
	width: 20px;
}

.commentsIcon_ME {
	margin-right: 20px;
	cursor: hand;
}

.comments_ME {
	margin-top: -20px;
	margin-left: 20px;
	margin-right: 20px;
	border-color: black;
	border-radius: 10px;
}

.commentContainer_ME {
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
    border-bottom-width: 0px;
}

.commentTextareaContainer_ME {
	padding: 10px;

}
.comment_textarea_ME {
	width: 100%; border: 1px padding: 4px;
}
/*
.joke_tag_ME textarea {
	width: 100%;
}
*/







