span.stars_ME, span.stars_ME span {
    display: block;
    background: url(../Graphics/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars_ME span {
    background-position: 0 0;
}

.stars_ME {
	position: relative;
}

.highlightedStar1_ME {
	position: relative;
	left: -2px;
	top: -3px;
}

.highlightedStar2_ME {
	position: relative;
	left: -10px;
	top: -3px;
}

.highlightedStar3_ME {
	position: relative;
	left: -18px;
	top: -3px;
}
.highlightedStar4_ME {
	position: relative;
	left: 46px;
	top: -24px;
}

.highlightedStar5_ME {
	position: relative;
	left: 38px;
	top: -24px;
}

/*
.starRating_ME {
	position: relative;
}*/

.starRating_ME {
	position: absolute;
	top: 0;
}

.highlightedStars_container_ME {
	position: absolute;
	top: 0;
	z-index: 1;
}
