span.stars_ME, span.stars_ME span {
    display: block;
    background: url(../Graphics/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars_ME span {
    background-position: 0 0;
}

.stars_ME {
	position: relative;
}

.starRating_ME {
	z-index: -1;
}

.highlightedStar_container_ME {
	height: 16px;
	width: 20px;
}
