body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.navbar {
	position: absolute;
}

.joke-list{
    height: calc(100% - 60px);
    overflow-y:scroll;
}

.jokeTitle {
	background-color: black;
}





